.profile__titleedit {
  display: flex;
  align-items: baseline;
  justify-content: flex-end;
  padding: 0;
  margin: 0 0 16px 0;
  width: 100%;
  max-width: 500px;
}

@media screen and (max-width: 450px) {
  .profile__titleedit {
    justify-content: flex-start;
    margin: 0 0 14px 0; 
    min-width: 243px;
  }
}
