.popup__textarea {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 16.94px;
  outline: 0;
  border: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  padding: 0 0 13px 0;
  margin: 0 0 30px 0;
}

.popup__textarea:nth-last-of-type(2) {
  margin: 0 0 45px 0;
}

.popup__textarea:focus {
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}
