.popup__textarea {
  font-family: "Inter";
  font-size: 14px;
  outline: 0;
  border: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  margin: 0 0 30px 0;
  padding: 0 0 13px 0;
}
.popup__textarea:last-of-type {
  padding: 0 0 48px 0;
}

.popup__textarea:focus {
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}

.popup__textarea::placeholder {
  font-family: "Inter";
}
