.profile {
  max-width: 880px;
  min-height: 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 680px) {
  .profile {
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
  }
}
