.popup__closebtn {
  position: absolute;
  top: -32px;
  right: -32px;
  cursor: pointer;
  border:0;
  background-color: transparent;
}

.popup__closebtn:hover {
  opacity: .6;
}

@media screen and (max-width: 680px) {
  .popup__closebtn {
    top: -27px;
    right: -27px;
  }
}

@media screen and (max-width: 450px) {
  .popup__closebtn {
    top: -36px;
    right: 0;
  }
}
