.elements__image {
  width: 282px;
  height: 282px;
  object-fit: cover;
  object-position: center;
  box-sizing: border-box;
  border-radius: 10px 10px 0 0;
}

@media screen and (max-width: 1280px) {
  .elements__image {
    width: 100%;
  }
}
