.popup__closebtnimg {
  width: 32px;
  height: 32px;
}

@media screen and (max-width: 680px) {
    .popup__closebtnimg {
    
        width: 25px;
        height: 25px;
    }
  }

  
@media screen and (max-width: 450px) {
    .popup__closebtnimg {
    
        width: 20px;
        height: 20px;
    }
  }