.popup__form {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 358px;
  padding: 34px 0 37px;
}

@media screen and (max-width: 680px) {
  .popup__form {
    max-width: 320px;
    padding: 25px 0;
  }
}

@media screen and (max-width: 450px) {
  .popup__form {
    max-width: 238px;
  }
}
