.profile__container {
  /*   outline: 2px solid purple;*/
  display: flex;
}

@media screen and (max-width: 450px) {
  .profile__container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 300px;
    margin: 0 auto;
    box-sizing: border-box;
  }
}
