.content__footer {
  margin: 0 auto;
  max-width: 880px;
  padding: 0;
  box-sizing: border-box;
}

@media screen and (max-width: 1280px) {
  .content__footer {
    max-width: 1280px;
    width: 100%;
    padding: 0 180px;
  }
}

@media screen and (max-width: 1080px) {
  .content__footer {
    max-width: 1080px;
    padding: 0 120px;
  }
}

@media screen and (max-width: 810px) {
  .content__footer {
    max-width: 810px;
    padding: 0 50px;
  }
}

@media screen and (max-width: 680px) {
  .content__footer {
    padding: 0 27px;
  }
}

@media screen and (max-width: 450px) {
  .content__footer {
    padding: 0 19px;
  }
}
