.popup__image-container {
  width: 100%;
  max-width: 75vw;
  height: 75vh;
  border: 0;
  padding: 0;
  margin: 0;
  background-color: white;
  position: relative;
  display: block;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

@media screen and (max-width: 680px) {
  .popup__image-container {
    max-width: 380px;
    height: 70vh;
  }
}

@media screen and (max-width: 450px) {
  .popup__image-container {
    max-width: 282px;
    height: 60vh;
  }
}