.profile__addbtn {
  width: 22px;
  height: 22px;
  padding: 14px 64px;
  margin: 0;
}

@media screen and (max-width: 1080px) {
  .profile__addbtn {
    padding: 14px 44px;
  }
}

@media screen and (max-width: 680px) {
  .profile__addbtn {
    width: 16px;
    height: 16px;  
    padding: 17px 0;
  }
}
