@import url(../vendor/normalize.css);
@import url(../vendor/fonts/fonts.css);
@import url(../blocks/content/content.css);

@import url(../blocks/header/header.css);
@import url(../blocks/header/__logolink/header__logolink.css);
@import url(../blocks/header/__logo/header__logo.css);
@import url(../blocks/header/__container/header__container.css);

@import url(../blocks/content/__header/content__header.css);
@import url(../blocks/content/__main/content__main.css);
@import url(../blocks/content/__popup/content__popup.css);
@import url(../blocks/content/__footer/content__footer.css);

@import url(../blocks/profile/profile.css);
@import url(../blocks/profile/__container/profile__container.css);
@import url(../blocks/profile/__avatar/profile__avatar.css);
@import url(../blocks/profile/__personal-data/profile__personal-data.css);
@import url(../blocks/profile/__button/profile__button.css);
@import url(../blocks/profile/__addbtn/profile__addbtn.css);
@import url(../blocks/profile/__edit/profile__edit.css);
@import url(../blocks/profile/__title/profile__title.css);
@import url(../blocks/profile/__subtitle/profile__subtitle.css);
@import url(../blocks/profile/__titleedit/profile__titleedit.css);

@import url(../blocks/elements/elements.css);
@import url(../blocks/elements/__title/elements__title.css);

@import url(../blocks/main/main.css);
@import url(../blocks/main/__profile-section/main__profile-section.css);
@import url(../blocks/main/__elements-section/main__elements-section.css);

@import url(../blocks/elements/__list/elements__list.css);
@import url(../blocks/elements/__like/elements__like.css);
@import url(../blocks/elements/__likeimg/elements__likeimg.css);
@import url(../blocks/elements/__likeimg/_active/elements__likeimg_active.css);
@import url(../blocks/elements/__element/elements__element.css);
@import url(../blocks/elements/__image/elements__image.css);
@import url(../blocks/elements/__titlecontainer/elements__titlecontainer.css);

@import url(../blocks/footer/footer.css);
@import url(../blocks/footer/__text/footer__text.css);


@import url(../blocks/popup/popup.css);
@import url(../blocks/popup/__show/popup__show.css);
@import url(../blocks/popup/__submit/popup__submit.css);
@import url(../blocks/popup/__form/popup__form.css);
@import url(../blocks/popup/_close/popup_close.css);
@import url(../blocks/popup/__textarea/popup__textarea.css);
@import url(../blocks/popup/__paragraph/popup__paragraph.css);
@import url(../blocks/popup/__container/popup__container.css);
