.header__container {
  margin: 0;
  padding: 0;
  display: flex;
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
  padding: 45px 0 41px;
}

@media screen and (max-width: 450px) {
  .header__container {
    border-bottom: 0;
    padding: 28px 0 31.6px;
  }
}
