.profile__button {
    display: block;
    width: 150px;
    min-height: 50px;
    text-align: center;
    border: 1px solid white;
    color: white;
    text-decoration: none;
    font-size: 40px;
    background-color: transparent;
    cursor:pointer;
}

