.profile__button {
  display: block;
  width: 150px;
  min-height: 50px;
  text-align: center;
  border: 1px solid white;
  color: white;
  text-decoration: none;
  font-size: 40px;
  background-color: transparent;
  cursor: pointer;
}

.profile__button:hover {
  cursor: pointer;
  opacity: 0.6;
}
@media screen and (max-width: 1080px) {
  .profile__button {
    width: 120px;
  }
}

@media screen and (max-width: 810px) {
  .profile__button {
    width: 110px;
  }
}

@media screen and (max-width: 450px) {
  .profile__button {
    width: 100%;
  }
}
