.profile__nameedit {
 /* display: flex;
  align-items: baseline;*/
  padding: 0;
  margin: 0 0 10px 0;
  width: 100%;
  max-width: 500px;
  position: relative;
}

@media screen and (max-width: 1280px) {
  .profile__nameedit {
    max-width: 390px;
  }
}

@media screen and (max-width: 1080px) {
  .profile__nameedit {
    max-width: 280px;
  }
}

@media screen and (max-width: 810px) {
  .profile__nameedit {
    max-width: 220px;
  }
}

@media screen and (max-width: 680px) {
  .profile__nameedit {
    max-width: 260px;
  }
}

@media screen and (max-width: 550px) {
  .profile__nameedit {
    max-width: 205px;
  }
}

@media screen and (max-width: 450px) {
  .profile__nameedit {
    max-width: 215px;
    margin: 0 0 10px;
    min-width: 10px;
    text-align: center; }
}
