.profile__personal-data {
  color: white;
  margin: 0 0 0 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}


@media screen and (max-width: 450px) {
  .profile__personal-data {
    align-items: center;
    margin: 25.25px 0 32px;
  }
}
