.elements__element {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 0;    
    max-width: 282px;
    min-height: 362px;
    border-radius: 5%;
    
    background-color: white;
}