.popup__paragraph {
  font-size: 24px;
  font-weight: 900;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  margin: 0 0 54px;
  padding: 0;
  width: 100%;
}

@media screen and (max-width: 450px) {
  .popup__paragraph {
    margin: 0 0 75px;
    font-size: 18px;
    line-height: 22px;
  }
}
